# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Environments
venv/
.venv/
env/

# VS Code & Antigravity
.vscode/
.antigravity/
.amazonq/
.roo/

# Logs
logs/*
!logs/.gitkeep
*.log

# Data
*.csv
*.xlsx
*.sqlite
data/*
!data/.gitkeep

# Временные файлы SQLite и чекпоинты
*.sqlite-shm
*.sqlite-wal
crawler_state.json

.streamlit/
_workspace

# Конфигурация с секретами
/config.json